.footer-container {
    position: relative;
    color: white;
    background-color: #292929;
}

.footer-img {
    position: absolute;
    height: 350px;
    top: -10%;
    left: 60%;
}

.footer-bottom {
    position: relative;
    background-color: #303030;
}

.btn {
    color: white;
    background-color: #303030;
    border-color: #0282f9;
    padding: 5px 10px;
}

.follow {
    margin-top: 5px;
    color: #0282f9;
}

.social {
    width: 30px;
}

small {
    color: var(--quaternary-color);
}
